{{!-- tabla de compras --}}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Compras</h1>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Proveedor</th>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Precio</th>
                        <th>Subtotal</th>

                    </tr>
                </thead>
                <tbody>
                    {{#each tickets.products}}
                    <tr>
                        {{!-- <td>{{this.date}}</td> --}}
                        <td>{{this.brand}}</td>
                        <td>{{this.name}}</td>
                        <td>{{this.quantity}}</td>
                        <td>{{this.price}}</td>
                        <td>{{this.subtotal}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>