<form method="POST" action="/cart/cart/{{product._id}}">
{{> outletBar}}
<div class="container mt-5 d-flex justify-content-center align-items-center">
  <div class="card mb-3" style="max-width: 900px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img
          src="{{product.image}}"
          class="img-fluid rounded-start"
          alt="{{product.image}}"
        />
      </div>
      <div class="col-md-8 mt-5 ">
        <div class="card-body">
          <h5 class="card-title">{{product.name}}</h5>
          <p class="card-text">{{product.longDescription}}</p>
          <div class="d-flex flex-column justify-content-center align-items-start">
            <p class="card-text"><small
                class="text-body-secondary"
              >{{product.price}} €</small></p>
    <div class="d-flex justify-content-center align-items-center">
      {{#switch product.brand}} 
            {{#case 'adidas'}} <img src="" alt="adidas">{{/case}}
            {{#case 'intermedio'}} class="badge text-bg-secondary"{{/case}}
            {{#case 'avanzado'}} class="badge text-bg-success"{{/case}}
            {{#case 'profesional'}} class="badge text-bg-danger"{{/case}}
        {{/switch}}

      <span
        {{#switch product.level}} 
            {{#case 'iniciación'}} class="badge text-bg-primary"{{/case}}
            {{#case 'intermedio'}} class="badge text-bg-secondary"{{/case}}
            {{#case 'avanzado'}} class="badge text-bg-success"{{/case}}
            {{#case 'profesional'}} class="badge text-bg-danger"{{/case}}
        {{/switch}}
        ><i class="fa fa-leaf me-1 m-2"></i>{{product.level}}
        </span>
    </div>
    
<div class="d-flex justify-content-evenly align-items-center mt-5">
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
   Agregar al carrito
   </button>
  <input
  class="w-25 h-25 p-1"
  type="number"
  placeholder="1"
  value="1"
  name="quantity"
>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Producto añadido a la cesta</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{product.image}}" class="img-fluid rounded-start" alt="{{product.image}}">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{product.name}}</h5>
          <p class="card-text">{{product.longDescription}}</p>
        <p class="card-text"><small class="text-body-secondary">{{product.price}} €</small></p>
      </div>
    </div>
  </div>
</div>
      </div>
      <div class="modal-footer">
        <a class="btn btn-secondary"  href="/products/list">Seguir comprando</a>
        <button type="submit" class="btn btn-primary">Ir al carrito </button>
      </div>
    </div>
  </div>
</div>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>
</form>
