{{> outletBar}}
<div class="container mt-5 d-flex justify-content-center align-items-center">
  <div class="card mb-3" style="max-width: 900px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img
          src="{{product.image}}"
          class="img-fluid rounded-start"
          alt="{{product.image}}"
        />
      </div>
      <div class="col-md-8 mt-5 ">
        <div class="card-body">
          <h5 class="card-title">{{product.name}}</h5>
          <p class="card-text">{{product.longDescription}}</p>
          <div class="d-flex flex-column justify-content-center align-items-start">
            <p class="card-text"><small
                class="text-body-secondary"
              >{{product.price}} €</small></p>
    <div class="d-flex justify-content-center align-items-center">
        <span class="badge bg-secondary m-2">{{product.brand}}</span>
        <span

        {{#switch product.level}} 
            {{#case 'iniciación'}} class="badge text-bg-primary"{{/case}}
            {{#case 'intermedio'}} class="badge text-bg-secondary"{{/case}}
            {{#case 'avanzado'}} class="badge text-bg-success"{{/case}}
            {{#case 'profesional'}} class="badge text-bg-danger"{{/case}}
        {{/switch}}
        ><i class="fa fa-leaf me-1 m-2"></i>{{product.level}}
        </span>
    </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>

{{!-- <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
  <div class="col-sm-12 col-xl-6">
    <img src="{{product.image}}" class="img-fluid rounded border"/>
  </div>
  <div class="col-6">
    <div class="col-md-2 col-sm-12 py-2">
        <h3 class="font-weight-semi">{{product.name}}</h3>
        <h4 class="text-body-secondary">{{product.price}} €</h4>
        <h5 class="text-body-secondary">{{product.brand}}</h5>
    </div>  
  <div class="col-md-6 col-sm-12 py-2">
    <p>{{{product.longDescription}}}</p>
  </div>

    <div class="row bg-white p-3 mx-auto mb-2">
        <span class="badge bg-secondary">{{product.brand}}</span>
        <span

        {{#switch product.level}} 
            {{#case 'iniciación'}} class="badge text-bg-primary"{{/case}}
            {{#case 'intermedio'}} class="badge text-bg-secondary"{{/case}}
            {{#case 'avanzado'}} class="badge text-bg-success"{{/case}}
            {{#case 'profesional'}} class="badge text-bg-danger"{{/case}}
        {{/switch}}
        ><i class="fa fa-leaf me-1"></i>{{product.level}}
        </span>
    </div>
  </div>
 
</div> --}}